@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maik van der Gaag<br />
    <a target="_blank" href="https://msftplayground.com">https://msftplayground.com</a><br />
    <a target="_blank" href="https://twitter.com/maikvandergaag">Twitter</a>
</address>

<address>
    <strong>Information:</strong>   <a href="mailto:info@msftplayground.com">info@msftplayground.com</a><br />
</address>